/* Importando Configurações*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Definindo Root*/

:root {
    --cor1: hsl(257, 40%, 49%); /* Violet*/
    --cor2: hsl(300, 69%, 71%);  /*Soft Magenta*/

    --fonte-titulos: 'Poppins', sans-serif;
    --fonte-padrao: 'Open Sans', sans-serif; 
}

/*Geral CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#clear {
    clear: both;
}

/*Body*/

body {
    background: var(--cor1) url(../images/bg-desktop.svg) left top no-repeat;
    margin: 4vw;
}

/*Header*/

header {
    margin-bottom: 5vw;
    display: inline-block;
}

header #logo img {
    width: 20vw;
}

/*Conteúdo*/

main section {
    float: right;
    width: 49%;
    margin-top: 5vw;
    color: white;
    margin-right: 10px;
}

section h2 {
    padding: 15px 0;
    font-family: var(--fonte-titulos);
    font-size: 2.5vw;
}

section p {
    font-family: var(--fonte-padrao);
    font-size: 1.3vw;
    padding-bottom: 15px;
}

section button {
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    font-weight: bold;
    color: var(--cor1);
    background: white;
    padding: 15px 5vw;
    border-radius: 30px;
    border: none;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.486);
}

button:hover {
    background-color: var(--cor2);
    color: white;
}

main aside {
    display: inline-block;
    width: 49%;
}

aside img {
    width: 90%;
}

/*Footer*/

footer #redes-sociais {
    height: 75px;
    margin: 15px 0;
    text-align: right;
}

footer #redes-sociais img {
    padding: 10px;
    border: 2px solid white;
    border-radius: 30%;
    margin: 5px;
    width: 60px;
}

footer #redes-sociais img:hover {
    border: 4px solid var(--cor2);
    transition: 0.2s;
}

footer p {
    text-align: center; 
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.3vw;
}

footer a {
    font-weight: bold;
    color: white;
}

footer p a:hover {
    color: var(--cor2);
}


/*Medias Queries*/
@media (max-width: 768px) {

    header #logo img{
        width: 30vw;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    main section {
        float: none;
        width: 90vw;
        order: 2;
        text-align: center;
    }

    main section h2  {
        font-size: 6vw;
    }

    main section p {
        font-size: 3.5vw;
    }

    main section button {
        font-size: 3vw;
        font-weight: bold;
    }

    main aside {
        width: 90vw;
        order: 1;
    }

    aside img {
        margin: auto;
        display: block;
    }

    footer p {
        font-size: 2.5vw;
    }

    footer #redes-sociais {
        text-align: center;
    }

}