/* Importando Configurações*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Definindo Root*/

:root {
    --cor1: hsl(257, 40%, 49%); /* Violet*/
    --cor2: hsl(300, 69%, 71%);  /*Soft Magenta*/

    --fonte-titulos: 'Poppins', sans-serif;
    --fonte-padrao: 'Open Sans', sans-serif; 
}

/*Reset CSS*/

* {
    margin: 0;
    padding: 0;
}

/*Body*/

body {
    background: var(--cor1) url(../images/bg-desktop.svg) left top no-repeat;
    background-size: cover;
    margin: 4vw;
}

/*Header*/

header {
    margin-bottom: 10vh;
    display: inline-block;
}

header #logo img {
    width: 20vw;
}


/*Medias Queries*/
@media (max-width: 1024px) {

    header #logo img{
        width: 30vw;
    }

}