/* Importando Configurações*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Definindo Root*/

:root {
    --cor1: hsl(257, 40%, 49%); /* Violet*/
    --cor2: hsl(300, 69%, 71%);  /*Soft Magenta*/

    --fonte-titulos: 'Poppins', sans-serif;
    --fonte-padrao: 'Open Sans', sans-serif; 
}

/*Reset CSS*/

* {
    margin: 0;
    padding: 0;
}

    